{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/gh/alphardex/aqua.css/dist/aqua.min.css" rel="stylesheet"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <script src="https://tiles.locationiq.com/v2/libs/gl-geocoder/4.5.1/locationiq-gl-geocoder.min.js?v=0.2.2"></script>
    <link rel="stylesheet"
          href="https://tiles.locationiq.com/v2/libs/gl-geocoder/4.5.1/locationiq-gl-geocoder.css?v=0.2.2"
          type="text/css">
    <script src="https://tiles.locationiq.com/v2/js/liq-styles-ctrl-gl.js?v=0.1.6"></script>
    <link href="https://tiles.locationiq.com/v2/css/liq-styles-ctrl-gl.css?v=0.1.6" rel="stylesheet">
{% endblock %}

{% block body %}






    <div div id="map" style="float: left;"></div>
    <div class="overlay">
        <div class="pt-5  row">
            {% csrf_token %}
            <div class="col col-md-8 offset-md-2">
                <div class="row neumorphic_form">
                    <div class="col-10">
                        <div class="container">
                            <div id="search-box"></div>
                            </div>
                        </div>
                        <!--                        <input type="search" class=" form-control wow" placeholder="Search" name="search"-->
                        <!--                               aria-label="Search" id="searchTextField">-->
                    </div>
                    <div class="col-1">
                        <button id="filter" type="button" class="btn btn-outline-primary">Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5" id="filters">
            <div class="col-12 col-sm-3 col-lg-3"></div>
            <div class=" col-12 col-sm-6 col-lg-6 offset-lg-3">
                <div class="mt-5 col-12 p-2 text-center neumorphic_form">
                    <button class="close-icon close" id="closefilter"></button>
                    <div class="container">
                        <form method="get" action="filter/">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <label for="oxyfr" class="form-label">Oxygen Care</label>
                                    <div class="star-rating col">
                                        <div id="oxyfr" class="form-check-inline">
                                            <div class="rate">
                                                <input type="radio" id="of5" value="5" name="oxyfr">
                                                <label for="of5"></label>
                                                <input type="radio" id="of4" value="4" name="oxyfr">
                                                <label for="of4"></label>
                                                <input type="radio" id="of3" value="3" name="oxyfr">
                                                <label for="of3"></label>
                                                <input type="radio" id="of2" value="2" name="oxyfr">
                                                <label for="of2"></label>
                                                <input type="radio" id="of1" value="1" name="oxyfr">
                                                <label for="of1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="financialfr" class="form-label">Affordability (higher is more
                                        expensive)</label>
                                    <div class="star-rating col">
                                        <div id="financialfr" class="form-check-inline">
                                            <div class="rate financial">
                                                <input type="radio" id="ff5" value="5" name="financialfr">
                                                <label for="ff5"></label>
                                                <input type="radio" id="ff4" value="4" name="financialfr">
                                                <label for="ff4"></label>
                                                <input type="radio" id="ff3" value="3" name="financialfr">
                                                <label for="ff3"></label>
                                                <input type="radio" id="ff2" value="2" name="financialfr">
                                                <label for="ff2"></label>
                                                <input type="radio" id="ff1" value="1" name="financialfr">
                                                <label for="ff1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="ventsf" class="form-label">Ventilator Availability(in
                                        percentage)</label>
                                    <br>
                                    <input id="ventsf" type="range" class="form-control-range" name="ventfr" value="0"
                                           min="0" max="100" oninput="this.nextElementSibling.value = this.value">
                                    <output for="ventfr"></output>
                                </div>
                                <div class="col">
                                    <label for="oxyasf" class="form-label">Oxygen Availability</label>
                                    <br>
                                    <input id="oxyasf" type="range" class="form-control-range" name="oxyafr" value="0"
                                           min="0" max="100" oninput="this.nextElementSibling.value = this.value">
                                    <output for="oxyasf"></output>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="icusf" class="form-label">ICU Availability</label>
                                    <br>
                                    <input id="icusf" type="range" class="form-control-range" name="icufr" value="0"
                                           min="0" max="100" oninput="this.nextElementSibling.value = this.value">
                                    <output for="icusf"></output>
                                </div>
                                <div class="col">
                                    <label for="costsf" class="form-label">Avg Cost</label>
                                    <div class="input-group" id="costsf">
                                        <span class="input-group-text">Min ₹</span>
                                        <input type="text" class="form-control" value="0"
                                               placeholder="Enter Minimum avg cost"
                                               name="price-min">
                                        <span class="input-group-text">Max ₹</span>
                                        <input type="text" class="form-control" value="1000000"
                                               placeholder="Enter Maximum avg cost"
                                               name="price-max">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="caref" class="form-label">Convenience (higher is more better)></label>
                                    <div class="star-rating col">
                                        <div id="caref" class="form-check-inline">
                                            <div class="rate">
                                                <input type="radio" id="cf5" value="5" name="carefr">
                                                <label for="cf5"></label>
                                                <input type="radio" id="cf4" value="4" name="carefr">
                                                <label for="cf4"></label>
                                                <input type="radio" id="cf3" value="3" name="carefr">
                                                <label for="cf3"></label>
                                                <input type="radio" id="cf2" value="2" name="carefr">
                                                <label for="cf2"></label>
                                                <input type="radio" id="cf1" value="1" name="carefr">
                                                <label for="cf1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="covidfr" class="form-label">Covid Care (higher is more better)</label>
                                    <div class="star-rating col">
                                        <div id="covidfr" class="form-check-inline">
                                            <div class="rate">
                                                <input type="radio" id="cof5" value="5" name="covidfr">
                                                <label for="cof5"></label>
                                                <input type="radio" id="cof4" value="4" name="covidfr">
                                                <label for="cof4"></label>
                                                <input type="radio" id="cof3" value="3" name="covidfr">
                                                <label for="cof3"></label>
                                                <input type="radio" id="cof2" value="2" name="covidfr">
                                                <label for="cof2"></label>
                                                <input type="radio" id="cof1" value="1" name="covidfr">
                                                <label for="cof1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label for="bedf" class="form-label">Bed Available</label>
                                <input type="number" class="form-control" id="bedf" value="0" min="0" name="bedsfr">
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <input type="submit" class="btn btn-success">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5" id="toper">
            <div class="m-5 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                <div class="mt-5 col-12 p-2 text-center neumorphic_form">
                    <button class="close-icon close" id="closemarker"></button>
                    <div class="text-center h6 mt-5" id="header"></div>
                    <div class="row">
                        <div class="col">
                            Phone No:
                        </div>
                        <div class="col">
                            <a href="tel:{{ phone }}" id="phone"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Convenience
                        </div>
                        <div class="star-rating col">
                            <form class="form-check-inline" oninput="">
                                <div class="rate">
                                    <input type="radio" id="mc5" value="5" name="ratingm" disabled/>
                                    <label for="mc5"></label>
                                    <input type="radio" id="mc4" value="4" name="ratingm" disabled/>
                                    <label for="mc4"></label>
                                    <input type="radio" id="mc3" value="3" name="ratingm" disabled/>
                                    <label for="mc3"></label>
                                    <input type="radio" id="mc2" value="2" name="ratingm" disabled/>
                                    <label for="mc2"></label>
                                    <input type="radio" id="mc1" value="1" name="ratingm" disabled/>
                                    <label for="mc1"></label>
                                </div>
                                <output class="ot mx-2" id="ratingf"></output>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Covid Care
                        </div>
                        <div class="star-rating col">
                            <form class="form-check-inline" oninput="">
                                <div class="rate">
                                    <input type="radio" id="mco5" value="5" name="covidm" disabled/>
                                    <label for="mco5"></label>
                                    <input type="radio" id="mco4" value="4" name="covidm" disabled/>
                                    <label for="mco4"></label>
                                    <input type="radio" id="mco3" value="3" name="covidm" disabled/>
                                    <label for="mco3"></label>
                                    <input type="radio" id="mco2" value="2" name="covidm" disabled/>
                                    <label for="mco2"></label>
                                    <input type="radio" id="mco1" value="1" name="covidm" disabled/>
                                    <label for="mco1"></label>
                                </div>
                                <output class="ot mx-2" id="covidf"></output>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Oxygen Care
                        </div>
                        <div class="star-rating col">
                            <form class="form-check-inline" oninput="">
                                <div class="rate">
                                    <input type="radio" id="mo5" value="5" name="oxym" disabled/>
                                    <label for="mo5"></label>
                                    <input type="radio" id="mo4" value="4" name="oxym" disabled/>
                                    <label for="mo4"></label>
                                    <input type="radio" id="mo3" value="3" name="oxym" disabled/>
                                    <label for="mo3"></label>
                                    <input type="radio" id="mo2" value="2" name="oxym" disabled/>
                                    <label for="mo2"></label>
                                    <input type="radio" id="mo1" value="1" name="oxym" disabled/>
                                    <label for="mo1"></label>
                                </div>
                                <output class="ot mx-2" id="oxyf"></output>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Ventilator Availability(%)
                        </div>
                        <div class="star-rating col" id="vent">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Oxygen Availability(%)
                        </div>
                        <div class="star-rating col" id="oxya">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            ICU Availability(%)
                        </div>
                        <div class="star-rating col" id="icu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Financial Rating
                        </div>
                        <div class="star-rating col">
                            <form class="form-check-inline" oninput="">
                                <div class="rate financial">
                                    <input type="radio" id="mf5" value="5" name="financialm" disabled/>
                                    <label for="mf5"></label>
                                    <input type="radio" id="mf4" value="4" name="financialm" disabled/>
                                    <label for="mf4"></label>
                                    <input type="radio" id="mf3" value="3" name="financialm" disabled/>
                                    <label for="mf3"></label>
                                    <input type="radio" id="mf2" value="2" name="financialm" disabled/>
                                    <label for="mf2"></label>
                                    <input type="radio" id="mf1" value="1" name="financialm" disabled/>
                                    <label for="mf1"></label>
                                </div>
                                <output class="ot mx-2" id="financialf"></output>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Average Cost
                        </div>
                        <div class="star-rating col" id="cost">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            Beds Available
                        </div>
                        <div class="star-rating col" id="beds">
                        </div>
                    </div>
                    <div>
                        <a id="rev" class="btn btn-primary">Share Your Experiance</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5" id="addreview">
            <div class="col-12 col-sm-3 col-lg-3"></div>
            <div class=" col-12 col-sm-6 col-lg-6 offset-lg-3">
                <div class="mt-5 col-12 p-2 text-center neumorphic_form">
                    <div class="container">
                        <button class="close-icon close" id="closereview"></button>
                        <p align="center">only the sections with '<span class="star">*</span>' is compulsory to be
                            filled
                        </p>
                        <form method="post" action="add_review/">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">

                                    <label for="oxy" class="form-label">Oxygen Care</label>
                                    <div class="star-rating col">
                                        <div id="oxy" class="form-check-inline">
                                            <div class="rate">
                                                <input type="radio" id="o5" value="5" name="oxy">
                                                <label for="o5"></label>
                                                <input type="radio" id="o4" value="4" name="oxy">
                                                <label for="o4"></label>
                                                <input type="radio" id="o3" value="3" name="oxy">
                                                <label for="o3"></label>
                                                <input type="radio" id="o2" value="2" name="oxy">
                                                <label for="o2"></label>
                                                <input type="radio" id="o1" value="1" name="oxy">
                                                <label for="o1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="financial" class="form-label">Affordability (higher is more
                                        expensive)<span
                                                class="star">*</span></label>
                                    <div class="star-rating col">
                                        <div id="financial" class="form-check-inline">
                                            <div class="rate financial">
                                                <input type="radio" id="f5" value="5" name="financial">
                                                <label for="f5"></label>
                                                <input type="radio" id="f4" value="4" name="financial">
                                                <label for="f4"></label>
                                                <input type="radio" id="f3" value="3" name="financial">
                                                <label for="f3"></label>
                                                <input type="radio" id="f2" value="2" name="financial">
                                                <label for="f2"></label>
                                                <input type="radio" id="f1" value="1" name="financial">
                                                <label for="f1"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">

                                    <label for="vents" class="form-label">Ventilator Availability</label>
                                    <select id="vents" class="form-select" name="vent">
                                        <option selected>Ventilator</option>
                                        <option value="0">Didn't Require Ventilator</option>
                                        <option value="1">Not Available</option>
                                        <option value="2">Available</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="oxyas" class="form-label">Oxygen Availability</label>
                                    <select id="oxyas" class="form-select" name="oxya">
                                        <option selected>Oxygen</option>
                                        <option value="0">Didn't Require Oxygen Support</option>
                                        <option value="1">Not Available</option>
                                        <option value="2">Available</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">

                                    <label for="icus" class="form-label">ICU Availability</label>
                                    <select id="icus" class="form-select" name="icu">
                                        <option selected>ICU</option>
                                        <option value="0">Didn't Require ICU</option>
                                        <option value="1">Not Available</option>
                                        <option value="2">Available</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="costs" class="form-label">Avg Cost<span class="star">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text">₹</span>
                                        <input type="text" class="form-control" id="costs" placeholder="Enter avg cost"
                                               name="cost" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="care" class="form-label">Convenience (higher is more better)<span

                                            class="star">*</span></label>
                                    <div class="star-rating col">
                                        <div id="care" class="form-check-inline">
                                            <div class="rate">
                                                <input type="radio" id="c5" value="5" name="care">
                                                <label for="c5"></label>
                                                <input type="radio" id="c4" value="4" name="care">
                                                <label for="c4"></label>
                                                <input type="radio" id="c3" value="3" name="care">
                                                <label for="c3"></label>
                                                <input type="radio" id="c2" value="2" name="care">
                                                <label for="c2"></label>
                                                <input type="radio" id="c1" value="1" name="care">
                                                <label for="c1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col">
                                    <label for="covid" class="form-label">Covid Care (higher is more better)<span
                                            class="star">*</span></label>
                                    <div class="star-rating col">
                                        <div id="covid" class="form-check-inline">
                                            <div class="rate">
                                                <input type="radio" id="co5" value="5" name="covid">
                                                <label for="co5"></label>
                                                <input type="radio" id="co4" value="4" name="covid">
                                                <label for="co4"></label>
                                                <input type="radio" id="co3" value="3" name="covid">
                                                <label for="co3"></label>
                                                <input type="radio" id="co2" value="2" name="covid">
                                                <label for="co2"></label>
                                                <input type="radio" id="co1" value="1" name="covid">
                                                <label for="co1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="bed" class="form-label">Bed Available<span class="star">*</span></label>
                                <input type="text" class="form-control" id="bed"
                                       placeholder="Enter approximate available beds"
                                       name="beds" required>
                            </div>

                            <div class="row">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea id="comment" name="comment"></textarea>
                            </div>
                            <input id="id" name="id" hidden value="-1">
                            <div class="row mt-5">
                                <div class="col">

                                    <input type="submit" class="btn btn-success">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>

        $('#toper').hide()
        $('#addreview').hide()
        $('#filters').hide()

        var icons = [


            '{% static 'images/small.png' %}',
            '{% static 'images/medium.png' %}',
            '{% static 'images/large.png' %}',

        ]
        // Start position for the map (hardcoded here for simplicity,
        // but maybe you want to get from URL params)
        var lat = 10.0
        var lon = 50.0
        var zoom = 12
        var map; //complex object of type OpenLayers.Map

        var element = document.getElementById("map");
        var cen

        map = new google.maps.Map(element, {
            zoom: 12,
            mapTypeId: "OSM",
            mapTypeControl: false,
            streetViewControl: false
        });
        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(function (position) {
                initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(initialLocation)
                console.log(initialLocation.lat())
                cen = initialLocation
                getMarkers()
                latleft = Math.round((((initialLocation.lat()) + Number.EPSILON) * 10) - 1) / 100
                latright = Math.round((((initialLocation.lat()) + Number.EPSILON) * 10) + 1) / 100
                longtop = Math.round((((initialLocation.lng()) + Number.EPSILON) * 10) - 1) / 100
                longbottom = Math.round((((initialLocation.lng()) + Number.EPSILON) * 10) + 1) / 100

            });
        }

        //Define OSM map type pointing at the OpenStreetMap tile server
        map.mapTypes.set("OSM", new google.maps.ImageMapType({
            getTileUrl: function (coord, zoom) {
                // "Wrap" x (longitude) at 180th meridian properly
                // NB: Don't touch coord.x: because coord param is by reference, and changing its x property breaks something in Google's lib
                var tilesPerGlobe = 1 << zoom;
                var x = coord.x % tilesPerGlobe;
                if (x < 0) {
                    x = tilesPerGlobe + x;
                }
                // Wrap y (latitude) in a like manner if you want to enable vertical infinite scrolling

                return "https://tile.openstreetmap.org/" + zoom + "/" + x + "/" + coord.y + ".png";
            },
            tileSize: new google.maps.Size(256, 256),
            name: "OpenStreetMap",
            maxZoom: 18
        }));

        function addMarker(feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.size],
                map: map
            });
            marker.addListener('click', function () {
                filldata(feature.id)
            });
        }

        function getMarkers() {
            const csrftoken = getCookie('csrftoken');
            var coor = map.getCenter()
            var LatLon = {csrfmiddlewaretoken: csrftoken, lat: coor.lat(), lng: coor.lng()}
            console.log(LatLon)
            $.ajax({
                type: 'POST',
                url: `/markers/`,
                dataType:'json',
                data: LatLon,
                success: function (data) {
                    var i;
                    ob = data;
                    console.log(ob);
                    for (i = 0; i < ob.length; i++) {
                        console.log(ob[i].name)
                        addMarker({
                            'position': {
                                'lat': ob[i].lat,
                                'lng': ob[i].lng,
                            },
                            'size': ob[i].size,
                            'id': ob[i].id
                        })
                    }
                }
            })}


            function filldata(id) {
                $.ajax({
                    url: `/more_info/${id}/`,
                    success: function (data) {
                        $('#toper').show()
                        console.log(data)
                        $('#header').text(data.name)
                        $('#phone').html(data.Phone)
                        $('#phone').attr("href", 'tel:' + data.Phone)
                        $('input:radio[name=ratingm]').val([parseInt(data.care_rating)])
                        $('#ratingf').text(data.care_rating)
                        $('input:radio[name=covidm]').val([parseInt(data.covid_rating)])
                        $('#covidf').text(data.covid_rating)
                        $('input:radio[name=oxym]').val([parseInt(data.oxygen_rating)])
                        $('#oxyf').text(data.oxygen_rating)
                        $('#vent').text(data.ventilator_availability)
                        $('#oxya').text(data.oxygen_availability)
                        $('#icu').text(data.icu_availability)
                        $('input:radio[name=financialm]').val([parseInt(data.financial_rating)])
                        $('#financialf').text(data.financial_rating)
                        $('#beds').text(data.beds_available)
                        $('#cost').text(data.avg_cost)
                        $('#id').val(data.id)
                    }
                })
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        //Add your LocationIQ Maps Access Token here (not the API token!)
        locationiq.key = 'pk.959200a41370341f608a91b67be6e8eb';

        //Add Geocoder control to the map
        var geocoder = new MapboxGeocoder({
            accessToken: locationiq.key,
            limit: 5,
            dedupe: 1,
            getItemValue: function (item) {
                map.setCenter({lat: item.center[1], lng: item.center[0]})
                return item.place_name
            }
        });
        geocoder.addTo('#search-box');








        $('#closemarker').on('click', function () {
            $('#toper').hide()
        })
        $('#closereview').on('click', function () {
            $('#addreview').hide()
        })
        $('#closefilter').on('click', function () {
            $('#filters').hide()
        })
        $('#filter').on('click', function () {
            $('#filters').show()
        })
        $('#rev').on('click', function (id) {
            $('#toper').hide(id)
            $('#addreview').show(id)
        })
        {#<!--        function initMap() {-->#}
        {#<!--            const map = new google.maps.Map(document.getElementById("map"), {-->#}
        {#<!--                zoom: 12,-->#}
        {#<!--            });-->#}
        {#<!--            if (navigator.geolocation) {-->#}
        {#<!--                navigator.geolocation.getCurrentPosition(function (position) {-->#}
        {#<!--                    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);-->#}
        {#<!--                    map.setCenter(initialLocation);-->#}
        {#<!--                    console.log(initialLocation.lat())-->#}
        {#<!--                    latleft = Math.round((((initialLocation.lat()) + Number.EPSILON) * 10) - 1) / 100-->#}
        {#<!--                    latright = Math.round((((initialLocation.lat()) + Number.EPSILON) * 10) + 1) / 100-->#}
        {#<!--                    longtop = Math.round((((initialLocation.lng()) + Number.EPSILON) * 10) - 1) / 100-->#}
        {#<!--                    longbottom = Math.round((((initialLocation.lng()) + Number.EPSILON) * 10) + 1) / 100-->#}
        {#<!--                });-->#}
        {#<!--            }-->#}
        {#<!--            function addMarker(feature) {-->#}
        {#<!--                var marker = new google.maps.Marker({-->#}
        {#<!--                    position: feature.position,-->#}
        {#<!--                    icon: icons[feature.size],-->#}
        {#<!--                    map: map-->#}
        {#<!--                });-->#}
        {#<!--                marker.addListener('click', function () {-->#}
        {#<!--                    filldata(feature.id)-->#}
        {#<!--                });-->#}
        {#<!--            }-->#}
        {#<!--            {% for marker in markers %}-->#}
        {#<!--                addMarker({-->#}
        {#<!--                    'position': {-->#}
        {#<!--                        'lat': {{ marker.lat }},-->#}
        {#<!--                        'lng': {{ marker.lng }},-->#}
        {#<!--                    },-->#}
        {#<!--                    'size':{{ marker.size }},-->#}
        {#<!--                    'id':{{ marker.id }}-->#}
        {#<!--                })-->#}
        {#<!--            {% endfor %}-->#}
        {#<!--                        function searchData() {-->#}
        {#<!--                var search = $('#searchTextField').val()-->#}
        {#<!--                $.ajax({-->#}
        {#<!--                    'url': `https://maps.googleapis.com/maps/api/geocode/json?address=${search}&bounds=${latleft},${longtop}|${latright},${longbottom}&key=AIzaSyCZrW79d1U3pgQDJlaErgxHQIq-8MRst-c`,-->#}
        {#<!--                    'success': function (data) {-->#}
        {#<!--                        console.log(data)-->#}
        {#<!--                        map.setCenter(data.results[0].geometry.location);-->#}
        {#<!--                        latleft = Math.round((((data.results[0].geometry.location.lat) + Number.EPSILON) * 10) - 1) / 100-->#}
        {#<!--                        latright = Math.round((((data.results[0].geometry.location.lat) + Number.EPSILON) * 10) + 1) / 100-->#}
        {#<!--                        longtop = Math.round((((data.results[0].geometry.location.lng) + Number.EPSILON) * 10) - 1) / 100-->#}
        {#<!--                        longbottom = Math.round((((data.results[0].geometry.location.lng) + Number.EPSILON) * 10) + 1) / 100-->#}
        {#<!--                    }-->#}
        {#<!--                })-->#}
        {#<!--            }-->#}
        {#<!--            $("#searchTextField").on('keyup', function (e) {-->#}
        {#<!--                if (e.key === 'Enter' || e.keyCode === 13) {-->#}
        {#<!--                    // Do something-->#}
        {#<!--                    searchData()-->#}
        {#<!--                }-->#}
        {#<!--            });-->#}
        {#<!--            $('#search_button').on('click', searchData)-->#}
        {#<!--        }-->#}

        {#<!--                $.ajax({-->#}
        {#<!--                    'url': `https://maps.googleapis.com/maps/api/geocode/json?address=${search}&bounds=${latleft},${longtop}|${latright},${longbottom}&key=AIzaSyCZrW79d1U3pgQDJlaErgxHQIq-8MRst-c`,-->#}
        {#<!--                    'success': function (data) {-->#}
        {#<!--                        console.log(data)-->#}
        {#<!--                        map.setCenter(data.results[0].geometry.location);-->#}
        {#<!--                        latleft = Math.round((((data.results[0].geometry.location.lat) + Number.EPSILON) * 10) - 1) / 100-->#}
        {#<!--                        latright = Math.round((((data.results[0].geometry.location.lat) + Number.EPSILON) * 10) + 1) / 100-->#}
        {#<!--                        longtop = Math.round((((data.results[0].geometry.location.lng) + Number.EPSILON) * 10) - 1) / 100-->#}
        {#<!--                        longbottom = Math.round((((data.results[0].geometry.location.lng) + Number.EPSILON) * 10) + 1) / 100-->#}
        {#<!--                    }-->#}
        {#<!--                })-->#}

    </script>


{% endblock %}
