Django==3.2.3
Pillow==8.2.0
django-admin-honeypot==1.1.0
django-braces==1.14.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-json-widget
django-log-viewer==1.1.2
django-oauth-plus==2.2.9
django-oauth-toolkit==1.5.0
django-oauth2-provider==0.2.6.1
django-oidc-provider==0.7.0
django-rest-framework-social-oauth2==1.1.0
django-rest-swagger==2.2.0
djangorestframework-oauth==1.1.0
djangorestframework==3.12.4
drf-yasg==1.20.0
googlemaps==4.4.5
gunicorn==20.0.4
httplib2==0.19.1
idna==2.10
oauth2==1.9.0.post1
oauthlib==3.1.1
openapi-codec==1.3.2
openpyxl==3.0.7
packaging==20.9
psycopg2-binary==2.8.6
python-dotenv~=0.19.0
python3-openid==3.2.0
requests==2.25.1
social-auth-app-django
social-auth-app-django==4.0.0
social-auth-core==4.1.0
