@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/****** Style Star Rating Widget *****/
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    -webkit-justify-content: center;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block;
    content: "\f005";

}


.rating > label {
    color: #ddd;
    position: relative;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label {
    color: #ffd700;
}

/* show gold star when clicked */
.rating:not(:checked) > label:hover {
    color: #ffd700;

}

/*hover current star*/
.rating:not(:checked) > label:hover ~ label {
    color: #ffd700;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}


/*financial */
.financial-extra > label:before {
    content: "\f3d1";
}


.financial-extra > input:checked ~ label {
    color: rgb(57, 181, 74);
}

/* show gold star when clicked */
.financial-extra:not(:checked) > label:hover {
    color: rgb(57, 181, 74);

}

/*hover current star*/
.financial-extra:not(:checked) > label:hover ~ label {
    color: rgb(57, 181, 74);
}


/***** CSS Magic to Highlight Stars on Hover *****/

.financial-extra > input:checked ~ label, /* show gold star when clicked */
.financial-extra:not(:checked) > label:hover, /* hover current star */
.financial-extra:not(:checked) > label:hover ~ label {
    color: rgb(57, 181, 74);
}

/* hover previous stars in list */

.financial-extra > input:checked + label:hover, /* hover current star when changing rating */
.financial-extra > input:checked ~ label:hover,
.financial-extra > label:hover ~ input:checked ~ label, /* lighten current selection */
.financial-extra > input:checked ~ label:hover ~ label {
    color: rgb(89, 240, 89);
}