{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add Hospitals - Needmedi.com
{% endblock %}
{% block css %}

    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/details.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/helper.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/cards.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/addhospital.css' %}" rel="stylesheet"/>


{% endblock %}

{% block body %}
    {% include 'nav.html' %}
    <div class="d-flex">
        <div class="container my-5 ">
            <div class="text-center h3 p-3 pt-5 pt-sm-3">Add Missing Hospital</div>


            <div class="row my-2  align-self-center " id="mapview" role="tabpanel" aria-labelledby="mapview-tab">

                <div class="col12 col-md-6 col-lg-6" id="toplevel1">

                    <div id="map"></div>

                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    {% include 'v2/components/add_hospital_card.html' with  col='col-6 col-md-12' id='value' %}
                </div>
                <input id="id" name="id" hidden value="-1">
            </div>
        </div>
        <div hidden>
            {% include 'v2/components/sidebar.html' %}

        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        var icons = [
            '{% static 'images/small.png' %}',
            '{% static 'images/medium.png' %}',
            '{% static 'images/large.png' %}',
        ]
    </script>
    <script src="{% static '/js/mapFunctions.js' %}"></script>
    <script>

        let marker = new google.maps.Marker()
        map.addListener("click", (mapsMouseEvent) => {
            if (marker) {
                marker.setMap(null)
            }
            $('#id').val(-1)
            console.log(mapsMouseEvent.latLng)
            $('#lat').val(mapsMouseEvent.latLng.lat)
            $('#lng').val(mapsMouseEvent.latLng.lng)
            marker = new google.maps.Marker({
                position: mapsMouseEvent.latLng,
                map: map
            })
        });

        $('#submit').on('click', function () {
            let id = $('#id').val()
            let name = $('#valuetitleinput').val()
            let Phone = $('#valuephoneinput').val()
            let lat = $('#lat').val()
            let lng = $('#lng').val()
            let dictm = {
                id: id, name: name, Phone: Phone,
                lat: lat, lng: lng
            }
            console.log(id)
            if (id != -1) {
                Current_Marker.data = dictm
                console.log(Current_Marker)
                Current_Marker.getData()
                Current_Marker.save().then(function (reviewobject) {
                    console.log(reviewobject)
                    $('#exampleModalLong').modal('toggle');
                    addToast("Hospital Modified", "Thank you for your valuable Contribution!")
                }).catch(function (error) {
                    const detail = error.detail
                    console.log(detail)
                    var current_path;
                    if ('Authentication credentials were not provided.' === detail) {
                        current_path = window.location.pathname
                        window.location.href = '/login?next=' + current_path
                        addToast("Failed to Modify Hospital", "Please Sign in to Modify Hospital")


                    } else if (detail) {
                        $('#exampleModalLong').modal('toggle');
                        addToast("Failed to Modify Hospital", detail)
                    } else {
                        addToast("Failed to Modify Hospital", "Please Enter the Highlighted Values")

                    }

                })
            } else {
                Marker.create(kwargs = dictm).then(function (reviewobject) {
                    console.log(reviewobject)
                    addToast("Hospital Added", "Thank you for your valuable Contribution!")
                }).catch(function (error) {
                    const detail = error.detail
                    console.log(detail)
                    var current_path;
                    if ('Authentication credentials were not provided.' === detail) {
                        current_path = window.location.pathname
                        window.location.href = '/login?next=' + current_path
                        addToast("Failed to Add Hospital", "Please Sign in to Add Hospital")


                    } else if (detail) {
                        addToast("Failed to Add Hospital", detail)
                    } else {
                        addToast("Failed to Add Hospital", "Please Enter the Highlighted Values")

                    }

                })
            }

        })

    </script>

{% endblock %}