{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/helper.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/details.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% include 'nav.html' %}
    <div class="container my-5 py-5">
        {% include 'v2/components/hospital_details_card.html' %}
    </div>
    <div class="text-center h2">Reviews</div>
    <div class="container mt-5">
        {% include 'v2/components/review_card.html' %}
    </div>
{% endblock %}

{% block script %}
{% endblock %}