{% extends 'auth_base.html' %}
{% block title %}
    Sign In
{% endblock %}
{% block form %}
    <p class="sign" align="center">Sign In</p>

    <form class="form1" action="/v2/login/" method="POST">
        {% csrf_token %}
        {% if pswderr %}
            <div class=" text-danger " align='center' role="alert">
                <i class="fa fa-exclamation-circle"></i> {{ pswderr }}
            </div>
        {% endif %}

        <input class="un " type="text" align="center" placeholder="Username" name="username"
               autocomplete="off">
        <input class="pass" type="password" align="center" placeholder="Password" name="password"
               autocomplete="off">
        <input name="next" value="{{ request.GET.next }}" hidden>
        <button class="submit" align="left">Sign in</button>
        <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
        <p class="forgot" align="center"><a href="/v2/signup?next={{ request.GET.next }}">New User?</a>
        </p>
    </form>
{% endblock %}