{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/details.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/helper.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/cards.css' %}" rel="stylesheet"/>


{% endblock %}

{% block body %}
    {% include 'nav.html' %}
    <div class="d-flex">
        {% include 'v2/components/sidebar.html' %}
        <div class="container my-5 py-5 ">
            <div class="text-center h3 p-3">Search Results</div>
            <div class="text-center ">
                {% include 'v2/components/tab_selector.html' with id='listview' name='List View' active='u-active' %}
                {% include 'v2/components/tab_selector.html' with id='mapview' name='Map View' active='' %}
            </div>
            <div class="row my-2  align-self-center" id="listview" role="tabpanel" aria-labelledby="listview-tab">
                <div class="col-12 col-md-2 col-lg-2"></div>
                <div class="col12 col-md-8 col-lg-8 " id="toplevel">
                    {% for marker in search_results %}
                        {% include 'v2/components/search_result_card.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="row my-2  align-self-center " id="mapview" role="tabpanel" aria-labelledby="mapview-tab">
                <div class="col-12 col-md-2 col-lg-2"></div>
                <div class="col12 col-md-8 col-lg-8  " id="toplevel1">
                    {% with id='value' %}
                        {% include 'v2/components/search_result_card.html' %}
                    {% endwith %}
                    <div id="map"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('[data-toggle="tab"]').click(function () {
            $('[data-toggle="tab"]').removeClass('u-active')
            $('[role="tabpanel"]').hide()
            $(this).addClass('u-active')
            let target = $(this).data('target')
            console.log(target)
            $(target).show()
        })
        $('#mapview').hide()
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>


        var icons = [
            '{% static 'images/small.png' %}',
            '{% static 'images/medium.png' %}',
            '{% static 'images/large.png' %}',
        ]


    </script>
    <script src="{% static '/js/mapFunctions.js' %}"></script>
{% endblock %}