{% extends 'base.html' %}
{% load static %}
{% block title %}
    Search Results - Needmedi.com
{% endblock %}
{% block css %}

    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/details.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/helper.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/cards.css' %}" rel="stylesheet"/>


{% endblock %}

{% block body %}
    {% include 'nav.html' %}
    <div class="d-flex">
        <div class="container my-5 py-5 ">
            <div class="text-center h3 p-3 pt-5 pt-sm-3">Search Results</div>

            <div class="text-center ">
                {% include 'v2/components/tab_selector.html' with id='filter' name='Hide Filter' active='filterpanel' tab='filter' %}
                {% include 'v2/components/tab_selector.html' with id='listview' name='List View' active='u-active' %}
                {% include 'v2/components/tab_selector.html' with id='mapview' name='Map View' active='' %}
            </div>
            <div class="row my-1  align-self-center" id="filter" role="filterpanel" aria-labelledby="filter-tab">
                <div class="col-12 col-md-2 col-lg-2"></div>
                <div class="col12 col-md-8 col-lg-8 " id="toplevel"></div>
                {% include 'v2/components/sidebar.html' %}
            </div>

            <div class="row my-2  align-self-center" id="listview" role="tabpanel" aria-labelledby="listview-tab">
                <div class="col-12 col-md-2 col-lg-2"></div>
                <div class="col12 col-md-10 col-lg-8 " id="searchresults">
                    {% for marker in search_results %}
                        {% include 'v2/components/search_result_card.html' with id=marker.id col='col-6' %}
                    {% endfor %}
                    <SearchResultList></SearchResultList>
                </div>
                <button id="more" class="btn btn-outline-primary">More results</button>

            </div>
            <div class="row my-2  align-self-center " id="mapview" role="tabpanel" aria-labelledby="mapview-tab">
                <div class="col-12 col-md-2 col-lg-2"></div>
                <div class="col-12 col-md-2 col-lg-2">
                    {% include 'v2/components/search_result_card.html' with  col='col-6 col-md-12' id='value' %}

                </div>
                <div class="col12 col-md-8 col-lg-8" id="toplevel1">


                    <div id="map"></div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('[data-toggle="tab"]').click(function () {
            $('[data-toggle="tab"]').removeClass('u-active')
            $('[role="tabpanel"]').hide()
            $(this).addClass('u-active')
            let target = $(this).data('target')
            console.log(target)
            $(target).show()
        })

        $('[data-toggle="filter"]').click(function () {
            fil = $('#filter-tab')

            fil.html(fil.html() === 'Hide Filter' ? 'Show Filter' : 'Hide Filter');
            $('[role="filterpanel"]').toggle()
        })

        $('#mapview').hide()

        var icons = [
            '{% static 'images/small.png' %}',
            '{% static 'images/medium.png' %}',
            '{% static 'images/large.png' %}',
        ]
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="module">
        console.log('hellooo')

        import {SearchResultList} from "/static/js/components/SearchCards.js";

        let querys = $('#query').val()
        if (typeof querys == "undefined") {
            querys = ""
        }
        querys.replaceAll(' ', '+')
        var dicts = {
            lat: parseFloat($('#lat').val()),
            lng: parseFloat($('#lng').val()),
            financial_rating__gte: $('input:radio[name=financialfr]:checked').val() | 0,
            avg_cost__gte: $('#price-min').val(),
            avg_cost__lte: $('#price-max').val(),
            covid_rating__gte: $('input:radio[name=covidfr]:checked').val() | 0,
            care_rating__gte: $('input:radio[name=carefr]:checked').val() | 0,
            oxygen_rating__gte: $('input:radio[name=oxyfr]:checked').val() | 0,
            ventilator_availability__gte: $('#ventfr').val(),
            oxygen_availability__gte: $('#oxyafr').val(),
            icu_availability__gte: $('#icufr').val(),
            search: querys,
            distance:100000
        }
        let page = 1
        let searchResults = new SearchResultList('SearchResultList', {'list': []})
        $('#more').on('click', function () {
            Marker.filter(kwargs = {offset: page * 10, limit: 10, ...dicts}).then(function (markerlist) {
                console.log(markerlist)
                searchResults.data.list.push(...markerlist.results)
                if (markerlist.next == null) {
                    $('#more').hide()
                }
            })
            page++
        })

    </script>
    <script src="{% static '/js/mapFunctions.js' %}"></script>
    <script type="module" src="{% static '/js/components/SearchCards.js' %}"></script>
{% endblock %}