{% extends "auth_base.html" %}
{% block title %}
    Register
{% endblock %}
{% block form %}
    <p class="sign" align="center">Register</p>
    <form class="form1" action="/signup/" method="POST">
        {% csrf_token %}
        {% if pswderr %}
            <div class=" text-danger " align='center' role="alert">
                <i class="fa fa-exclamation-circle"></i> {{ pswderr }}
            </div>
        {% endif %}
        <input class="un " type="text" align="center" placeholder="E-mail" name="email">
        <input class="pass" type="password" align="center" placeholder="Password" name="password">
        <input class="pass" type="password" align="center" placeholder="Retype Password" name="password retype">
        <input name="next" value="{{ request.GET.next }}" hidden>
        <button class="submit" align="center">Sign Up</button>
        <p class="forgot" align="center"><a href="/login?next={{ request.GET.next }}">New User?</a>
    </form>
{% endblock %}  