<div class="col">
    <label for="{{ name }}" class="">{{ label }}
        {% include 'v2/components/popover.html' %}
    </label>
    <div class="input-group" id="{{ name }}">
        <input type="text" class="form-control input-left neumorphic-input" value="0"
               placeholder="Enter Minimum avg cost"
               name="{{ name }}-min" id="{{ name }}-min"
        >
        <span class="input-group-text neumorphic-input bg-grey">to</span>
        <input type="text" class="form-control input-right neumorphic-input" value="100000"
               placeholder="Enter Maximum avg cost"
               name="{{ name }}-max" id="{{ name }}-max">
    </div>
</div>
{% if not disabled %}
    <script>
        if (url) {

            let num1 = url.searchParams.get("{{name}}-min")
            let num2 = url.searchParams.get("{{name}}-max")
            if (num1) {
                $('#{{name}}-min').val(parseInt(num1))
            }
            if (num2) {
                $('#{{name}}-max').val(parseInt(num2))
            }

        }
    </script>
{% endif %}