<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="wrapper">
                        <form class="">
                            <div class="row">
                                <div class="col">
                                    <div class="row">{% include 'v2/components/star_ratings.html' with name="affordability" extra_class="financial mx-3" label="Affordability" content="Affordability of the hospital .higher is expensive" %}</div>
                                </div>
                                <div class="col">
                                    {% include 'v2/components/star_ratings.html' with name="oxygen-care" extra_class="mx-3" label="Oxygen Care" content="Quality Rating for Oxyen Care" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% include 'v2/components/star_ratings.html' with name="conv-care" extra_class="mx-3" label="Convenience" content="Convenience of Getting Care (higher is Better) the ease with dealing with Administrative" %}
                                </div>
                                <div class="col">{% include 'v2/components/star_ratings.html' with name="covid-care-quality" extra_class="mx-3" label="Covid Care" content="Quality of Covid Care (higher is better)" %}</div>
                            </div>
                            <div class="row">
                                <span class="h6 my-1 mt-1">Ventilator Availability</span>
                                <select class="form-select" aria-label="Default select example" name="ventavail">
                                    <option selected disabled>Choose</option>
                                    <option value="0">Didn't require ventilator</option>
                                    <option value="1">Not available</option>
                                    <option value="2">Available</option>
                                </select>
                            </div>
                            <div class="row">
                                <span class="h6 my-1 mt-1">Oxygen Availability</span>
                                <select class="form-select" aria-label="Default select example" name="oxyavail">
                                    <option selected disabled>Choose</option>
                                    <option value="0">Didn't require oxygen</option>
                                    <option value="1">Not available</option>
                                    <option value="2">Available</option>
                                </select>
                            </div>
                            <div class="row">
                                <span class="h6 my-1 mt-1">ICU Availability</span>
                                <select class="form-select" aria-label="Default select example" name="icuavail">
                                    <option selected disabled>Choose</option>
                                    <option value="0">Didn't require ICU</option>
                                    <option value="1">Not available</option>
                                    <option value="2">Available</option>
                                </select>
                            </div>
                            <div class="row">
                                <span class="h6 mt-1">Average Cost</span>
                                <div class="mb-3 my-1">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="number" class="form-control" placeholder="average cost"
                                           aria-label="Average Cost"
                                           aria-describedby="average_cost" name="avgcost" id="avgcost">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


