{% load static %}
<h5 class="text-center h2">{{ hospital.name }}</h5>
<div class="widget-49-meeting-info">
    <h5 class="widget-49-pro-title text-center h5">Phone : <a href="tel:{{ hospital.Phone }}">{{ hospital.Phone }}</a>
    </h5>
</div>
<div class="card card-left neumorphic_input card-margin bg-grey">
    {% if id != 'value' %}
        <img src="{% static 'images/hospital.svg' %}"
             class="card-img-top  p-2 p-md-4"/>
    {% endif %}
    <div class="card-body card-body-left widget-49 bg-white w-100 ">
        <div class="d-flex d-flex justify-content-between">
            <h5 class="card-title card-title-left inline-block" id="{{ id }}title h4">{{ marker.name }}</h5>
            <a data-bs-toggle="modal" data-bs-target="#susmodal"
               class="link input-right input-left ml-auto Align-self-end  link-danger move-up" id="add-sus-btn">Report
                issue
            </a>
        </div>
        <h6 class="card-title card-title-left" id="{{ id }}title h6">{{ marker.display_address }}</h6>

        <div class="widget-49-meeting-points  row">
            {% include 'v2/components/star_ratings.html' with name=id|add:"oxy"  label="Oxygen Care" content="Quality Rating for Oxyen Care" disabled="disabled" value=marker.oxygen_rating %}
            {% include 'v2/components/star_ratings.html' with name=id|add:"aff"   extra_class="financial" label="Affordability" content="Affordability of the hospital .higher is expensive" disabled="disabled" value=marker.financial_rating %}
        </div>
        <div class="widget-49-meeting-points  row">
            {% include 'v2/components/star_ratings.html' with name=id|add:"con"  label="Convenience" content="Convenience of Getting Care (higher is Better) the ease with dealing with Administrative" disabled="disabled" value=marker.care_rating %}
            {% include 'v2/components/star_ratings.html' with name=id|add:"cov"    label="Covid Care" content="Quality of Covid Care (higher is better)" disabled="disabled" value=marker.covid_rating %}
        </div>
        <div class="widget-49-meeting-points mt-2 row">
            <div class="col">Average Cost : <span id="{{ id|add:"cost" }}">{{ marker.avg_cost }}</span> Rs</div>
            <div class="col">Oxygen Availability : <span
                    id="{{ id|add:"oxya" }}">{{ marker.oxygen_availability }}</span> %
            </div>
        </div>
        <div class="widget-49-meeting-points my-2 row">
            <div class="col">Ventilator Availability : <span
                    id="{{ id|add:"venta" }}">{{ marker.ventilator_availability }}</span> %
            </div>
            <div class="col">ICU Availability : <span id="{{ id|add:"icu" }}"> {{ marker.icu_availability }}</span> %
            </div>
        </div>
        <div class="d-flex d-flex justify-content-between">
            <button data-bs-toggle="modal" data-bs-target="#exampleModalLong"
                    class="btn input-right input-left bg-dark btn-dark" id="add-review-btn">Add Review
            </button>
            <a target="_blank" href="https://www.google.com/maps/search/{{ marker.name }}/@{{ marker.lat }},{{ marker.lng }},19.88z">
                <i class="fa fa-map-marker"></i> Directions
            </a>
        </div>
    </div>
</div>


