<div style='' class="sidebar bg-grey p-0 p-md-4">
    <div class="space-50"></div>
    <form action="/v2/search/" onsubmit="submitForm()">
        <input name="lat" id="lat1" hidden>
        <input name="lng" id="lng1" hidden>
        <input name="loc" id="loc1" hidden>
        <input id="qry" name="query" hidden>
        {% include 'v2/components/ratings_form.html' %}
        <div class="mb-3" id="bottomsearch">
            <b>
                <button type="submit" class="btn input-left input-right bg-dark btn-dark">Search
                </button>
            </b>
        </div>
    </form>

    🇮🇳
    <div class="space-50" ></div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });


</script>
<script>
    function submitForm() {
        let lat = $('#lat').val()
        let lng = $('#lng').val()
        let loc = $('#loc').val()
        let query = $('#hspsearch').val()
        if (lat) {
            $('#lat1').val(parseFloat(lat))
        }
        if (lng) {
            $('#lng1').val(parseFloat(lng))
        }
        if (query) {
            $('#qry').val(query)
        }
        if(loc){
            $('#loc1').val(loc)
        }
    }
</script>