<div class="col-12 col-sm-12 mt-4">
    <h6 class="h6 ">{{ label }} {{ value }}
        {% if content %}
            {% include 'v2/components/popover.html' %}
        {% endif %}</h6>
    <div class=" rating {{ extra_class }} h4">
        {% for i in "54321" %}
            <input type="radio" class="star-{{ i }}" id="{{ name }}star{{ i }}" {{ disabled }} name="{{ name }}rating" value="{{ i }}"
                    {% if value|add:"0" == i|add:"0" %}
                   checked
                    {% endif %}>
            <label class="fas full star-l-{{ i }}" for="{{ name }}star{{ i }}" title="{{ i }} stars"></label>
        {% endfor %}


    </div>
</div>
