<div class="col my-2  {{ col }}">
    <label for="{{ name }}" class="">{{ label }}
        {% if content %}
            {% include 'v2/components/popover.html' %}
        {% endif %}
    </label>
    <div class="star-rating col">

        <div id="{{ name }}" class="form-check-inline">
            <div class="rate {{ extra_class }} {{ disabled }}">
                {% if disabled != "disabled" %}
                    <span>
                    <i class="fa fa-times-circle move-up"
                       onclick="$('input:radio[name={{ name }}]').val([0]);$('#{{ name }}feedback').show();"></i>
                    </span>
                {% else %}
                    <output class="ot mx-2" id="{{ name }}_output">{{ value }}</output>
                {% endif %}
                {% for i in "54321" %}
                    <input type="radio" id="{{ name }}{{ i }}" value="{{ i }}" name="{{ name }}" {{ disabled }}
                            {% if value|add:"0" == i|add:"0" %}
                           checked
                            {% endif %}>
                    <label for="{{ name }}{{ i }}"></label>
                {% endfor %}
            </div>
            {% if feedback %}
                <div id="{{ name }}feedback" class="invalid-feedback">
                    Please rate {{ label }}.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% if not disabled %}
    <script>
        if (url) {
            $('input:radio[name={{name}}]').val([parseInt(url.searchParams.get("{{name}}"))])
        }
    </script>
{% endif %}
{% if feedback %}
    <script>
        $('#{{ name }}feedback').show()
        $('input:radio[name={{name}}]').click(function () {
                $('#{{ name }}feedback').hide()
            }
        )
    </script>
{% endif %}