<div class="modal fade modal-white-bg" id="susmodal" tabindex="-1" role="dialog"
     aria-labelledby="susmodal"
     aria-hidden="true">
    <div class="modal-dialog modal-box-shadow" role="document">
        <div class=" modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mark Suspicious</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="wrapper">
                        <div class="row">
                            Please tell us why you think this is suspicious. We will assign someone to investigate
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12  py-2">
                            <div class="select">
                            <textarea class="select-text text-area-grey text-input" placeholder="Leave a comment here"
                                      id="sustextarea" name="sustextarea"></textarea>
                                <div id="commentfeedback" class="invalid-feedback">
                                    Please Enter A Reason.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitSus()" >Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


