/* Set the size of the div element that contains the map */
#map {
    height: 100vh;
    position: fixed !important;
    top: 0;
    /* The height is 400 pixels */
    width: 100%;
    z-index: -1;
    /* The width is the width of the web page */
}
body{
    z-index: -1;

}
#toper{
    z-index: 1000003;
}
.neumorphic_form {
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 4px #ababab,
    -2px -2px 4px #ababab;
}
.financial label::before{
    width:18px;
    content: url('/static/images/money_begin.svg');
}

.financial label::after{
    width:18px;
    content: url('/static/images/money_end.svg');
}
.ot{
    font-size:15px;
}
.star{
    color:Red;
}
.close{
    position:relative;
    left:93%;
}
.ot{
    font-size:15px;
}
.star{
    color:Red;
}
.close{
    position:relative;
    left:93%;
}